Repository kakaotech-25/moheng, pull requests merged in 2024-10, with the labels that each got.

#431 [feat] 프론트 컨테이너 환경변수 파일 세팅
  compose.prod.yaml
Labels: frontend, feature, cloud

#435 [refactor] MDC 로 올바르게 쿼리 카운터를 로깅하도록 개선
  backend/src/main/java/moheng/global/aopquery/QueryCounterAop.java
  backend/src/main/java/moheng/global/mdcfilter/MdcFilter.java
  backend/src/main/java/moheng/keyword/domain/repository/TripKeywordRepository.java
  backend/src/main/resources/logback-spring.xml
Labels: refactor, backend

#438 [feat] 데이터베이스 레플리케이션 라우팅 환경 구축
  backend/src/main/java/moheng/global/replication/DataSourceConfig.java
  backend/src/main/java/moheng/global/replication/FindReplicaDataSource.java
  backend/src/main/java/moheng/global/replication/RoutingDataSource.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
Labels: backend, feature

#439 [refactor] 토큰 인증/인가 도메인을 리팩토링
  backend/src/main/java/moheng/auth/application/AuthService.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationArgumentResolver.java
  backend/src/main/java/moheng/auth/presentation/initauthentication/InitAuthenticationArgumentResolver.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/test/java/moheng/auth/application/AuthServiceTest.java
Labels: refactor, backend

#444 [feat] 데이터베이스 다중화 환경에서 각 DB 에 HikariCP 최적 설정 값 적용
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
Labels: backend, feature

#445 [fix] Argument Resolver 를 사용시 DB 레플리케이션 환경에서 DataSource 라우팅이 안되는 문제 해결
  backend/src/main/resources/application-dev.yml
Labels: bug, backend, fix

#446 [feat] MDC 가 내부적으로 사용하는 쓰레드 로컬의 비동기 작업 풀 크기 설정
  backend/src/main/java/moheng/global/cache/CacheConfig.java
  backend/src/main/java/moheng/global/cache/ExternalConcurrentMapSimilarTripCache.java
  backend/src/main/java/moheng/global/mdcfilter/AsyncConfig.java
Labels: backend, feature

#450 [feat] 프로메테우스 그라파나 스택 구현
  Taskfile.yml
  compose.metrics.yaml
  compose.monitoring.yaml
  monitoring/.gitignore
  monitoring/prometheus/alertmanager/alertmanager.yml
  monitoring/prometheus/config/prometheus.yml
  monitoring/prometheus/config/rules/alert.rules.yml
  monitoring/prometheus/data/.gitkeep
  nginx/srcs/.gitkeep
  scripts/deploy.sh
  scripts/upload.sh
Labels: feature, cloud

#452 [refactor] MDC 기반 Logback, REQUEST_ID 포맷 변경
  backend/src/main/java/moheng/global/aopquery/QueryCounterAop.java
  backend/src/main/resources/logback-spring.xml
Labels: refactor, backend

#454 [fix] 불필요한 비동기처리 로깅을 위한 TaskDecorator 제거
  backend/src/main/java/moheng/global/mdcfilter/AsyncConfig.java
  backend/src/main/java/moheng/global/mdcfilter/MdcTaskDecorator.java
Labels: backend, fix

#455 [refactor] 외부 API 호출시 불필요하게 HikariCP 커넥션을 잡고있는 트랜잭션을 분리하여 성능 최적화
  backend/src/main/java/moheng/applicationrunner/warmup/RecommendWarmUpRunner.java
  backend/src/main/java/moheng/recommendtrip/application/RecommendTripService.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripsWithKeywordProvider.java
  backend/src/main/java/moheng/recommendtrip/presentation/RecommendTripController.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/moheng/config/slice/ControllerTestConfig.java
  backend/src/test/java/moheng/recommendtrip/application/RecommendTripServiceTest.java
  backend/src/test/java/moheng/recommendtrip/domain/TripPreferredLocationsFilterStrategyTest.java
  backend/src/test/java/moheng/recommendtrip/domain/TripsWithKeywordProviderTest.java
  backend/src/test/java/moheng/recommendtrip/presentation/RecommendTripControllerTest.java
Labels: refactor, backend

#456 refactor: 생활정보 여행지 필터링 전략 메소드 가독성 개선
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripLiveInformationFilterStrategy.java
Labels: refactor, backend

#460 [feat] 깃헙 액션 & 패키지 업로드
  .github/workflows/docker-build.yml
Labels: feature, cloud

#462 docs: 리드미 문서화
  README.md
  img.png
Labels: documentation

#464 #463 docs: 라이센스 추가
  LICENSE
Labels: documentation

#466 [refactor] 명확한 구조 파악을 위한 패키지 구조 개선
  backend/build.gradle
  backend/src/main/java/moheng/applicationrunner/data/dev/KeywordDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/local/KeywordLocalApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/local/LiveInformationLocalApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/prod/LiveInformationProdApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/prod/TripProdApplicationRunner.java
  backend/src/main/java/moheng/auth/application/AuthService.java
  backend/src/main/java/moheng/auth/domain/token/JwtTokenGenerator.java
  backend/src/main/java/moheng/auth/domain/token/JwtTokenManager.java
  backend/src/main/java/moheng/auth/domain/token/TokenGenerator.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationArgumentResolver.java
  backend/src/main/java/moheng/auth/presentation/initauthentication/InitAuthenticationArgumentResolver.java
  backend/src/main/java/moheng/global/mdcfilter/MdcFilter.java
  backend/src/main/java/moheng/runner/data/InitKeywordApplicationRunner.java
  backend/src/main/java/moheng/runner/data/InitLiveInformationApplicationRunner.java
  backend/src/main/java/moheng/runner/data/InitTripApplicationRunner.java
  backend/src/main/java/moheng/runner/data/dto/KeywordRunner.java
  backend/src/main/java/moheng/runner/data/dto/LiveInformationRunner.java
  backend/src/main/java/moheng/runner/data/dto/TripRunner.java
  backend/src/main/java/moheng/runner/warmup/AuthWarmUpRunner.java
  backend/src/main/java/moheng/runner/warmup/KeywordWarmUpRunner.java
  backend/src/main/java/moheng/runner/warmup/MemberWarmUpRunner.java
  backend/src/main/java/moheng/runner/warmup/PlannerWarmUpRunner.java
  backend/src/main/java/moheng/runner/warmup/TripWarmUpRunner.java
  backend/src/test/java/moheng/auth/application/AuthServiceTest.java
  backend/src/test/java/moheng/auth/domain/JwtTokenGeneratorTest.java
  backend/src/test/java/moheng/auth/domain/JwtTokenManagerTest.java
  backend/src/test/java/moheng/config/slice/ControllerTestConfig.java
  log/error/2024-10-23.log
  log/warn/2024-10-23.log
Labels: refactor, backend
