Repository kakaotech-25/moheng, pull requests merged in 2024-08, with the labels that each got.

#59 [feat] jenkins의 CI 과정의 빌드스크립트 구현
  Jenkinsfile
Labels: backend, frontend, feature, cloud, D-1

#64 [feat] 풀리퀘스트의 라벨 마감기한을 DISCORD 웹훅으로 전송하는 기능
  .github/events/pr.json
  .github/scripts/pr-deadline/caculate_deadline.sh
  .github/scripts/pr-deadline/extract_deadline.sh
  .github/scripts/pr-deadline/send_discord_notification.sh
  .github/workflows/pr-deadline-notifier.yml
Labels: feature, cloud, D-0

#63 [test] 인증/인가 도메인 전구간 E2E 인수 테스트(Acceptance Test) 진행
  backend/build.gradle
  backend/src/main/java/moheng/auth/presentation/AuthController.java
  backend/src/main/java/moheng/member/dto/response/MemberResponse.java
  backend/src/test/java/moheng/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/moheng/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/moheng/acceptance/config/AcceptanceTestConfig.java
  backend/src/test/java/moheng/acceptance/fixture/AuthAcceptanceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/HttpStatus.java
  backend/src/test/java/moheng/acceptance/fixture/MemberAcceptanceFixture.java
  backend/src/test/java/moheng/config/StubKakaoOAuthClientProvider.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/domain/MemberRepositoryTest.java
Labels: backend, test, D-1

#67 [fix] PR 마감기한 알림봇 한국표준시로 수정
  .github/scripts/pr-deadline/caculate_deadline.sh
  .github/scripts/pr-deadline/caculate_time.sh
  .github/workflows/pr-deadline-notifier.yml
Labels: fix, D-1

#70 [feat] Spring Rest Docs 를 도입하여 API 문서 자동화
  backend/build.gradle
  backend/gradlew
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/auth.html
  backend/src/main/resources/static/docs/index.html
  backend/src/main/resources/static/docs/member.html
  backend/src/test/java/moheng/auth/presentation/AuthControllerTest.java
  backend/src/test/java/moheng/config/ControllerTestConfig.java
  backend/src/test/java/moheng/fixture/AuthFixtures.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
Labels: documentation, backend, feature, D-2

#77 [fix] 빈 라벨일 때 알림을 보내지 않도록 설정
  .github/workflows/pr-deadline-notifier.yml
Labels: fix, D-0

#81 [feat] 태스크 파일과 도커관련 명렁어 추가
  Taskfile.yml
Labels: feature, cloud, D-1

#79 [fix] 프론트 컨테이너의 마운트 지점을 usr/app 으로 변경
  compose.frontend.yaml
  frontend/.gitignore
  frontend/Dockerfile.dev
  frontend/install_package.sh
Labels: fix, frontend, D-0

#85 [feat] AI 모델을 서빙할 FastAPI 웹앱 기본환경 셋팅
  ai/README.md
  ai/poetry.lock
  ai/pyproject.toml
  ai/src/__init__.py
  ai/src/main.py
Labels: ai, feature, D-1

#91 [ feat] 프론트엔드 번들러 vite+react로 변경
  Jenkinsfile
  compose.frontend.yaml
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/index.html
  frontend/install_package.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.jsx
  frontend/src/App.test.js
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/main.jsx
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/vite.config.js
Labels: frontend, feature, cloud, D-0

#88 [docs] Kakao Developers 와 모행 서비스 연동
  backend/src/main/java/moheng/auth/domain/oauth/KakaoOAuthClient.java
  backend/src/main/java/moheng/auth/domain/oauth/KakaoOAuthMember.java
  backend/src/main/resources/application.yml
  backend/src/test/java/moheng/config/KakaoStubOAuthClient.java
  backend/src/test/resources/application.yml
Labels: documentation, backend, feature, D-1

#95 [fix] D-day라벨이 아니어도 실패하지 않도록 수정
  .github/scripts/pr-deadline/extract_deadline.sh
  .github/workflows/pr-deadline-notifier.yml
Labels: fix, cloud, D-1

#100 [feat] 소나큐브 백엔드 애플리케이션 분석 코드 추가
  .github/workflows/sonarqube-java.yml
  backend/build.gradle
Labels: backend, feature, cloud, D-1

#111 [feat] ai Dockerfile 수정
  ai/Dockerfile
Labels: ai, cloud, D-1

#114 [feat] 최초 회원가입 유저에 대해 생활정보, 관심 여행지를 입력받는 기능 구현
  backend/build.gradle
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/liveinformation/application/LiveInformationService.java
  backend/src/main/java/moheng/liveinformation/domain/LiveInformation.java
  backend/src/main/java/moheng/liveinformation/domain/LiveInformationRepository.java
  backend/src/main/java/moheng/liveinformation/domain/MemberLiveInformation.java
  backend/src/main/java/moheng/liveinformation/domain/MemberLiveInformationRepository.java
  backend/src/main/java/moheng/liveinformation/domain/MemberLiveInformationService.java
  backend/src/main/java/moheng/liveinformation/dto/FindAllLiveInformationResponse.java
  backend/src/main/java/moheng/liveinformation/dto/LiveInformationCreateRequest.java
  backend/src/main/java/moheng/liveinformation/dto/LiveInformationResponse.java
  backend/src/main/java/moheng/liveinformation/exception/EmptyLiveInformationException.java
  backend/src/main/java/moheng/liveinformation/exception/NoExistLiveInformationException.java
  backend/src/main/java/moheng/liveinformation/presentation/LiveInformationController.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/member/dto/request/SignUpInterestTripsRequest.java
  backend/src/main/java/moheng/member/dto/request/SignUpLiveInfoRequest.java
  backend/src/main/java/moheng/member/exception/ShortContentidsSizeException.java
  backend/src/main/java/moheng/member/presentation/MemberController.java
  backend/src/main/java/moheng/recommendtrip/application/RecommendTripService.java
  backend/src/main/java/moheng/recommendtrip/domain/RecommendTrip.java
  backend/src/main/java/moheng/recommendtrip/domain/RecommendTripRepository.java
  backend/src/main/java/moheng/recommendtrip/presentation/RecommendTripController.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/java/moheng/trip/domain/Trip.java
  backend/src/main/java/moheng/trip/dto/FindTripResponse.java
  backend/src/main/java/moheng/trip/dto/FindTripsOrderByVisitedCountDescResponse.java
  backend/src/main/java/moheng/trip/dto/TripCreateRequest.java
  backend/src/main/java/moheng/trip/exception/InvalidTripDescriptionException.java
  backend/src/main/java/moheng/trip/exception/InvalidTripNameException.java
  backend/src/main/java/moheng/trip/exception/NoExistTripException.java
  backend/src/main/java/moheng/trip/presentation/TripController.java
  backend/src/main/java/moheng/trip/repository/TripRepository.java
  backend/src/main/resources/application.yml
  backend/src/test/java/moheng/acceptance/LiveInformationAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/moheng/acceptance/TripAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/fixture/AuthAcceptanceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/LiveInfoAcceptenceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/TripAcceptenceFixture.java
  backend/src/test/java/moheng/auth/application/AuthServiceTest.java
  backend/src/test/java/moheng/config/ControllerTestConfig.java
  backend/src/test/java/moheng/fixture/MemberFixtures.java
  backend/src/test/java/moheng/fixture/TripFixture.java
  backend/src/test/java/moheng/liveinformation/application/LiveInformationsServiceTest.java
  backend/src/test/java/moheng/liveinformation/application/MemberLiveInformationServiceTest.java
  backend/src/test/java/moheng/liveinformation/presentation/LiveInformationControllerTest.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
  backend/src/test/java/moheng/trip/domain/TripTest.java
  backend/src/test/java/moheng/trip/presentation/TripControllerTest.java
  backend/src/test/resources/application.yml
Labels: backend, feature, D-2

#118 [feat] 로그인페이지 UI 구현
  frontend/index.html
  frontend/src/assets/kakao-login.png
  frontend/src/assets/login-left.png
  frontend/src/assets/login-right.png
  frontend/src/pages/Login.css
  frontend/src/pages/Login.jsx
  frontend/src/pages/login.txt
Labels: frontend, feature, D-1

#121 [feat] 젠킨스 결과 디스코드 알림
  Jenkinsfile
Labels: feature, cloud, D-1

#122 [feat] 키워드 리스트 기반 추천 여행지 조회 기능 구현
  backend/src/main/java/moheng/auth/dto/RenewalAccessTokenResponse.java
  backend/src/main/java/moheng/auth/infrastructure/KakaoOAuthClient.java
  backend/src/main/java/moheng/auth/infrastructure/KakaoOAuthMember.java
  backend/src/main/java/moheng/auth/infrastructure/OAuthAccessToken.java
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/keyword/KeywordController.java
  backend/src/main/java/moheng/keyword/domain/Keyword.java
  backend/src/main/java/moheng/keyword/domain/KeywordRepository.java
  backend/src/main/java/moheng/keyword/domain/MemberKeyword.java
  backend/src/main/java/moheng/keyword/domain/MemberKeywordRepository.java
  backend/src/main/java/moheng/keyword/domain/TripKeyword.java
  backend/src/main/java/moheng/keyword/dto/KeywordCreateRequest.java
  backend/src/main/java/moheng/keyword/dto/RecommendTripResponse.java
  backend/src/main/java/moheng/keyword/dto/TripContentIdsByKeywordResponse.java
  backend/src/main/java/moheng/keyword/dto/TripRecommendByKeywordRequest.java
  backend/src/main/java/moheng/keyword/dto/TripsByKeyWordsRequest.java
  backend/src/main/java/moheng/keyword/exception/InvalidAIServerException.java
  backend/src/main/java/moheng/keyword/exception/KeywordNameLengthException.java
  backend/src/main/java/moheng/keyword/infrastructure/AiKeywordModelClient.java
  backend/src/main/java/moheng/keyword/service/KeywordFilterModelClient.java
  backend/src/main/java/moheng/keyword/service/KeywordService.java
  backend/src/main/java/moheng/recommendtrip/application/RecommendTripService.java
  backend/src/main/java/moheng/recommendtrip/domain/RecommendTrip.java
  backend/src/main/java/moheng/recommendtrip/domain/RecommendTripRepository.java
  backend/src/main/java/moheng/recommendtrip/dto/RecommendTripCreateRequest.java
  backend/src/main/java/moheng/recommendtrip/presentation/RecommendTripController.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/java/moheng/trip/dto/FindTripResponse.java
  backend/src/main/java/moheng/trip/dto/FindTripsResponse.java
  backend/src/main/java/moheng/trip/presentation/TripController.java
  backend/src/main/java/moheng/trip/repository/TripRepository.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/acceptance/KeywordAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/TripAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/fixture/KeywordFixture.java
  backend/src/test/java/moheng/acceptance/fixture/RecommendTripFixture.java
  backend/src/test/java/moheng/auth/application/AuthServiceTest.java
  backend/src/test/java/moheng/auth/domain/KakaoOAuthClientTest.java
  backend/src/test/java/moheng/config/ControllerTestConfig.java
  backend/src/test/java/moheng/config/KakaoStubOAuthClient.java
  backend/src/test/java/moheng/config/ServiceTestConfig.java
  backend/src/test/java/moheng/config/StubKeywordFilterModelClient.java
  backend/src/test/java/moheng/config/TestConfig.java
  backend/src/test/java/moheng/fixture/KeywordFixture.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
  backend/src/test/java/moheng/keyword/domain/KeywordRepositoryTest.java
  backend/src/test/java/moheng/keyword/domain/KeywordTest.java
  backend/src/test/java/moheng/keyword/domain/MemberKeywordTest.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/java/moheng/liveinformation/domain/TripKeywordTest.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/recommendtrip/domain/RecommendTripRepositoryTest.java
  backend/src/test/java/moheng/recommendtrip/domain/application/RecommendTripServiceTest.java
  backend/src/test/java/moheng/trip/presentation/TripControllerTest.java
Labels: backend, feature, D-1

#125 [feat] 최초입력1 - 프로필정보입력 UI 구현
  frontend/src/App.jsx
  frontend/src/assets/profileimg1.png
  frontend/src/assets/profileimg2.png
  frontend/src/assets/profileimg3.png
  frontend/src/assets/progressbar1.png
  frontend/src/components/Button.css
  frontend/src/components/Button.jsx
  frontend/src/components/ProfileInfo.css
  frontend/src/components/ProfileInfo.jsx
  frontend/src/components/Radio.jsx
  frontend/src/pages/ImageWithCheck.jsx
  frontend/src/pages/Profile.css
  frontend/src/pages/Profile.jsx
  frontend/src/pages/Profile2.css
  frontend/src/pages/Profile2.jsx
Labels: frontend, feature, D-1

#130 [feat] 젠킨스의 디스코드 알람 포맷 수정
  Jenkinsfile
Labels: feature, cloud, D-1

#132 [feat] 최초입력2-생활정보 선택 페이지 UI 구현
  frontend/src/App.jsx
  frontend/src/assets/hearing.png
  frontend/src/assets/infants.png
  frontend/src/assets/nothing.png
  frontend/src/assets/physical.png
  frontend/src/assets/progressbar2.png
  frontend/src/assets/senior.png
  frontend/src/assets/visual.png
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/CheckImg/CheckImg.css
  frontend/src/components/CheckImg/CheckImg.jsx
  frontend/src/components/Footer/Footer.css
  frontend/src/components/Footer/Footer.jsx
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
  frontend/src/components/ProfileInfo/ProfileInfo.css
  frontend/src/components/ProfileInfo/ProfileInfo.jsx
  frontend/src/index.css
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/ImageWithCheck.jsx
  frontend/src/pages/InterestedPlace/InterestedPlace.css
  frontend/src/pages/InterestedPlace/InterestedPlace.jsx
  frontend/src/pages/LivingInfo/LivingInfo.css
  frontend/src/pages/LivingInfo/LivingInfo.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Login/Login.css
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Mypage/Mypage.jsx
  frontend/src/pages/Place/Place.jsx
  frontend/src/pages/Planner/Planner.jsx
  frontend/src/pages/PlannerList/PlannerList.jsx
  frontend/src/pages/Profile/Profile.css
  frontend/src/pages/Profile/Profile.jsx
  frontend/src/pages/Profile2.jsx
Labels: frontend, feature, D-1

#124 [feat] AI 서빙 코드 기초 구축하기
  ai/README.md
  ai/__init__.py
  ai/containers.py
  ai/main.py
  ai/model/__init__.py
  ai/model/application/__init__.py
  ai/model/application/model_service.py
  ai/model/application/model_service_test.py
  ai/model/domain/__init__.py
  ai/model/domain/repository/__init__.py
  ai/model/domain/repository/model_repo.py
  ai/model/infra/__init__.py
  ai/model/infra/repository/__init__.py
  ai/model/infra/repository/model_repo.py
  ai/model/interface/__init__.py
  ai/model/interface/controllers/__init__.py
  ai/model/interface/controllers/model_controller.py
  ai/model/interface/controllers/model_controller_test.py
  ai/poetry.lock
  ai/pyproject.toml
Labels: ai, feature, D-2

#135 [refactor] 전략패턴을 적용하여 선호 여행지 클릭수에 따른 여행지 저장 알고리즘 캡슐화
  backend/src/main/java/moheng/auth/application/AuthService.java
  backend/src/main/java/moheng/recommendtrip/domain/RecommendTripRepository.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/AppendRecommendTripStrategy.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/RecommendTripStrategy.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/ReplaceRecommendTripStrategy.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/SaveRecommendTripStrategyProvider.java
  backend/src/main/java/moheng/trip/exception/NoExistRecommendTripStrategyException.java
  backend/src/test/java/moheng/trip/application/AppendRecommendTripStrategyTest.java
  backend/src/test/java/moheng/trip/application/ReplaceRecommendTripStrategyTest.java
Labels: refactor, backend, D-1

#136 [feat] 최초입력3-관심여행지 입력 페이지 UI 구현
  frontend/src/assets/progressbar3.png
  frontend/src/assets/travelcard.png
  frontend/src/components/ProfileInfo/ProfileInfo.css
  frontend/src/components/ProfileInfo/ProfileInfo.jsx
  frontend/src/components/TravelCard/TravelCard.css
  frontend/src/components/TravelCard/TravelCard.jsx
  frontend/src/pages/InterestedPlace/InterestedPlace.css
  frontend/src/pages/InterestedPlace/InterestedPlace.jsx
  frontend/src/pages/LivingInfo/LivingInfo.css
  frontend/src/pages/LivingInfo/LivingInfo.jsx
  frontend/src/pages/Profile/Profile.css
  frontend/src/pages/Profile/Profile.jsx
Labels: frontend, feature, D-1

#141 [docs] 백엔드 애플리케이션 배포를 위한 Cors 설정, 추가 API 명세
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/signup.adoc
  backend/src/main/java/moheng/global/config/CorsConfig.java
  backend/src/main/java/moheng/global/config/WebConfig.java
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
Labels: documentation, backend, D-1

#142 [feat] 로그인 여부에 따라 세가지 상황으로 헤더 구성 변경
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/Header.jsx
Labels: frontend, feature, D-1

#144 [feat] 비회원에게 랜덤 키워드, 여행지 클릭횟수에 기반하여 추천 여행지를 제공하는 기능 구현
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/java/moheng/keyword/domain/KeywordRepository.java
  backend/src/main/java/moheng/keyword/domain/TripKeywordRepository.java
  backend/src/main/java/moheng/keyword/presentation/KeywordController.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/java/moheng/trip/dto/FindTripsResponse.java
  backend/src/test/java/moheng/acceptance/KeywordAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/fixture/KeywordAcceptenceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/TripKeywordAcceptenceFixture.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
  backend/src/test/java/moheng/keyword/domain/KeywordRepositoryTest.java
  backend/src/test/java/moheng/keyword/domain/TripKeywordRepositoryTest.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
Labels: backend, feature

#153 [docs] API 테스트를 위한 일부 API 명세, application name 을 moheng 으로 변경
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/trip.adoc
  backend/src/main/java/moheng/keyword/presentation/KeywordController.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/moheng/acceptance/fixture/KeywordAcceptenceFixture.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/resources/application.yml
Labels: documentation, backend

#157 [feat] 로그인 후 메인 페이지 UI 구현
  frontend/src/components/TravelCard/TravelCard.css
  frontend/src/components/TravelCarousel/TravelCarousel.css
  frontend/src/components/TravelCarousel/TravelCarousel.jsx
  frontend/src/pages/Home/Home.css
  frontend/src/pages/Home/Home.jsx
Labels: frontend, feature, D-1

#156 [feat] 서버 연동 도커컴포즈 파일 추가
  Taskfile.yml
  backend/Dockerfile
  compose.dev.yaml
  frontend/package.json
  frontend/src/api/Axios.js
  frontend/src/api/AxiosTestComponent.jsx
Labels: feature, cloud, D-1

#155 [feat] 서빙 코드에 모델 연동
  ai/containers.py
  ai/main.py
  ai/model/Recommendation.py
  ai/model/data/data.pkl
  ai/model/infra/repository/model_repo.py
  ai/model_serving/__init__.py
  ai/model_serving/application/__init__.py
  ai/model_serving/application/model_service.py
  ai/model_serving/application/model_service_test.py
  ai/model_serving/domain/__init__.py
  ai/model_serving/domain/repository/__init__.py
  ai/model_serving/domain/repository/model_repo.py
  ai/model_serving/infra/__init__.py
  ai/model_serving/infra/repository/__init__.py
  ai/model_serving/infra/repository/model_repo.py
  ai/model_serving/interface/__init__.py
  ai/model_serving/interface/controllers/__init__.py
  ai/model_serving/interface/controllers/model_controller.py
  ai/model_serving/interface/controllers/model_controller_test.py
  ai/poetry.lock
  ai/pyproject.toml
  frontend/package-lock.json
Labels: ai, feature

#164 [feat] nginx 컨테이너 설정
  compose.dev.yaml
  nginx/Dockerfile
  nginx/tools/default.conf
Labels: feature, cloud

#165 [feat] 마이페이지 (프로필/생활정보)탭 UI 구현
  frontend/src/assets/mypage-change-img.png
  frontend/src/components/LivingBtn/LivingBtn.css
  frontend/src/components/LivingBtn/LivingBtn.jsx
  frontend/src/components/UserForm/UserForm.css
  frontend/src/components/UserForm/UserForm.jsx
  frontend/src/pages/LivingInfo/LivingInfo.css
  frontend/src/pages/LivingInfo/LivingInfo.jsx
  frontend/src/pages/Mypage/Mypage.css
  frontend/src/pages/Mypage/Mypage.jsx
  frontend/src/pages/Profile/Profile.css
  frontend/src/pages/Profile/Profile.jsx
Labels: frontend, feature, D-1

#173 [feat] 플레너에 신규 일정 추가하기, 일정 리스트 조회 기능 구현
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/planner/application/PlannerService.java
  backend/src/main/java/moheng/planner/application/TripScheduleService.java
  backend/src/main/java/moheng/planner/domain/TripSchedule.java
  backend/src/main/java/moheng/planner/domain/TripScheduleRepository.java
  backend/src/main/java/moheng/planner/dto/CreateTripScheduleRequest.java
  backend/src/main/java/moheng/planner/dto/FindPLannerOrderByNameResponse.java
  backend/src/main/java/moheng/planner/dto/FindPlannerOrderByDateResponse.java
  backend/src/main/java/moheng/planner/dto/FindPlannerOrderByRecentResponse.java
  backend/src/main/java/moheng/planner/dto/TripScheduleResponse.java
  backend/src/main/java/moheng/planner/dto/UpdateTripScheduleRequest.java
  backend/src/main/java/moheng/planner/exception/AlreadyExistTripScheduleException.java
  backend/src/main/java/moheng/planner/exception/InvalidTripScheduleDateException.java
  backend/src/main/java/moheng/planner/exception/InvalidTripScheduleNameException.java
  backend/src/main/java/moheng/planner/exception/NoExistTripScheduleException.java
  backend/src/main/java/moheng/planner/presentation/PlannerController.java
  backend/src/main/java/moheng/planner/presentation/TripScheduleController.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/acceptance/PlannerAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/TripScheduleAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/fixture/AuthAcceptanceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/KeywordAcceptenceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/LiveInfoAcceptenceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/MemberAcceptanceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/MemberLiveInfoAcceptenceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/PlannerAcceptenceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/TripKeywordAcceptenceFixture.java
  backend/src/test/java/moheng/acceptance/fixture/TripScheduleTestFixture.java
  backend/src/test/java/moheng/config/slice/ControllerTestConfig.java
  backend/src/test/java/moheng/fixture/TripKeywordFixture.java
  backend/src/test/java/moheng/fixture/TripScheduleFixtures.java
  backend/src/test/java/moheng/planner/application/PlannerServiceTest.java
  backend/src/test/java/moheng/planner/application/TripScheduleServiceTest.java
  backend/src/test/java/moheng/planner/domain/TripScheduleRepositoryTest.java
  backend/src/test/java/moheng/planner/domain/TripScheduleTest.java
  backend/src/test/java/moheng/planner/presentation/PlannerControllerTest.java
  backend/src/test/java/moheng/planner/presentation/TripScheduleControllerTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
Labels: backend, feature, D-1

#177 [feat] Jenkinsfile 프론트엔드, 백엔드 병렬 빌드 구현
  Jenkinsfile
Labels: cloud, D-1

#175 [feat] 여행지 세부 페이지 UI 구현
  frontend/src/App.jsx
  frontend/src/assets/plannericon.png
  frontend/src/assets/travelcard.png
  frontend/src/components/TravelCarousel/TravelCarousel.jsx
  frontend/src/data/TravelData.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/InterestedPlace/InterestedPlace.jsx
  frontend/src/pages/Place/Place.jsx
  frontend/src/pages/TravelDetails/TravelDetails.css
  frontend/src/pages/TravelDetails/TravelDetails.jsx
Labels: frontend, feature, D-1

#180 [feat] 배포용 도커파일 작성
  Taskfile.yml
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  compose.dev.yaml
  compose.prod.yaml
  compose.yaml
  nginx/Dockerfile
  nginx/Dockerfile.dev
  nginx/Dockerfile.prod
  nginx/tools/develop.conf
  nginx/tools/production.conf
Labels: feature, cloud, D-1

#182 [feat] 세부 일정 조회 및 상세 조작 기능 구현
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/planner/application/TripScheduleService.java
  backend/src/main/java/moheng/planner/domain/TripScheduleRegistryRepository.java
  backend/src/main/java/moheng/planner/dto/FindTripOnSchedule.java
  backend/src/main/java/moheng/planner/dto/FindTripsOnSchedule.java
  backend/src/main/java/moheng/planner/dto/UpdateTripOrdersRequest.java
  backend/src/main/java/moheng/planner/exception/NoExistTripScheduleRegistryException.java
  backend/src/main/java/moheng/planner/presentation/TripScheduleController.java
  backend/src/main/java/moheng/trip/domain/Trip.java
  backend/src/main/java/moheng/trip/domain/TripRepository.java
  backend/src/test/java/moheng/acceptance/PlannerAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/TripScheduleAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/fixture/TripScheduleAcceptenceTestFixture.java
  backend/src/test/java/moheng/acceptance/fixture/TripScheduleTestFixture.java
  backend/src/test/java/moheng/planner/application/TripScheduleServiceTest.java
  backend/src/test/java/moheng/planner/domain/TripScheduleRegistryRepositoryTest.java
  backend/src/test/java/moheng/planner/domain/TripScheduleRepositoryTest.java
  backend/src/test/java/moheng/planner/presentation/TripScheduleControllerTest.java
Labels: backend, feature, D-1

#184 [test] 프레젠테이션 계층내 400번대 예외처리 관련 테스트 코드 추가
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/java/moheng/liveinformation/application/MemberLiveInformationService.java
  backend/src/main/java/moheng/liveinformation/domain/MemberLiveInformationRepository.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/planner/domain/TripSchedule.java
  backend/src/main/java/moheng/recommendtrip/application/RecommendTripService.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/AppendRecommendTripStrategy.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/RecommendTripStrategy.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/ReplaceRecommendTripStrategy.java
  backend/src/main/java/moheng/trip/domain/recommendstrategy/SaveRecommendTripStrategyProvider.java
  backend/src/test/java/moheng/acceptance/TripAcceptenceTest.java
  backend/src/test/java/moheng/auth/presentation/AuthControllerTest.java
  backend/src/test/java/moheng/fixture/MemberFixtures.java
  backend/src/test/java/moheng/fixture/TripScheduleFixtures.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/java/moheng/liveinformation/presentation/LiveInformationControllerTest.java
  backend/src/test/java/moheng/liveinformation/presentation/MemberLiveInfoControllerTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
  backend/src/test/java/moheng/planner/presentation/PlannerControllerTest.java
  backend/src/test/java/moheng/planner/presentation/TripScheduleControllerTest.java
  backend/src/test/java/moheng/recommendtrip/presentation/RecommendTripControllerTest.java
  backend/src/test/java/moheng/trip/application/AppendRecommendTripStrategyTest.java
  backend/src/test/java/moheng/trip/application/ReplaceRecommendTripStrategyTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
  backend/src/test/java/moheng/trip/presentation/TripControllerTest.java
Labels: backend, test, D-1

#189 [feat] sonarcloud backend 프로젝트 변경 및 수정
  .github/workflows/sonarqube-java.yml
  .github/workflows/sonarqube-javascript.yml
  backend/build.gradle
Labels: feature, cloud, D-1

#192 [fix] 백엔드 소나클라우드 프로젝트 이름 설정 추가
  backend/build.gradle
Labels: bug, cloud, D-1

#190 [feat] 젠킨스 도커 빌드 마이그레이션
  Jenkinsfile
  compose.prod.yaml
Labels: cloud, D-1

#193 [feat] 플래너 페이지 UI 구현
  frontend/package.json
  frontend/src/assets/editicon.png
  frontend/src/assets/seemore.png
  frontend/src/components/PlannerModal/PlannerModal.css
  frontend/src/components/PlannerModal/PlannerModal.jsx
  frontend/src/data/PlannerData.jsx
  frontend/src/pages/Planner/Planner.css
  frontend/src/pages/Planner/Planner.jsx
Labels: frontend, feature, D-1

#197 [fix] 프론트엔드 테스트 코드 커버리지 측정 비활성화
  frontend/sonar-project.properties
Labels: bug, cloud

#203 [feat] 배포용 nginx 컨테이너 설정
  Taskfile.yml
  compose.prod.yaml
  nginx/.gitignore
  nginx/nginx.conf
  nginx/ssl/init_tls.sh
  nginx/tools/production.conf
Labels: feature, cloud, D-1

#199 [refactor] AI 외부 API 호출 관련 코드들을 객체지향적인 프로덕션 코드로 개선, 테스트 코드 보강
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/liveinformation/domain/TripLiveInformationRepository.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/dto/request/SignUpLiveInfoRequest.java
  backend/src/main/java/moheng/recommendtrip/application/RecommendTripService.java
  backend/src/main/java/moheng/recommendtrip/domain/PreferredLocationsProvider.java
  backend/src/main/java/moheng/recommendtrip/domain/RecommendTripRepository.java
  backend/src/main/java/moheng/recommendtrip/domain/filterinfo/FilterStandardInfo.java
  backend/src/main/java/moheng/recommendtrip/domain/filterinfo/LiveInformationFilterInfo.java
  backend/src/main/java/moheng/recommendtrip/domain/filterinfo/PreferredLocationsFilterInfo.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripFilterStrategy.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripFilterStrategyProvider.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripLiveInformationFilterStrategy.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripPreferredLocationsFilterStrategy.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/test/java/moheng/acceptance/fixture/AuthAcceptanceFixture.java
  backend/src/test/java/moheng/fixture/MemberFixtures.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
  backend/src/test/java/moheng/recommendtrip/domain/PreferredLocationsProviderTest.java
  backend/src/test/java/moheng/recommendtrip/domain/RecommendTripRepositoryTest.java
  backend/src/test/java/moheng/recommendtrip/domain/TripLiveInformationStrategyTest.java
  backend/src/test/java/moheng/recommendtrip/domain/TripPreferredLocationsFilterStrategyTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
Labels: refactor, backend, test, D-1

#206 [fix] 코드 리뷰 봇 삭제
  .github/workflows/code-review.yml
Labels: bug, cloud, D-1

#204 [fix] 젠킨스 이중 샌드박스 문제 해결
  Jenkinsfile
Labels: fix, cloud

#210 [feat] 개발서버 배포를 위한 스크립트 작성
  Taskfile.yml
  deploy.sh
Labels: cloud, D-1

#213 [fix] nginx 요청 docs 백엔드 컨테이너로 라우팅
  nginx/tools/develop.conf
  nginx/tools/production.conf
Labels: fix, cloud, D-1

#214 [feat] 플래너 세부 페이지 UI 구현
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/back-icon.png
  frontend/src/assets/delete-icon.png
  frontend/src/data/PlannerData.jsx
  frontend/src/pages/Planner/Planner.css
  frontend/src/pages/Planner/Planner.jsx
  frontend/src/pages/PlannerDetails/PlannerDetails.css
  frontend/src/pages/PlannerDetails/PlannerDetails.jsx
  frontend/src/pages/PlannerList/PlannerList.jsx
Labels: frontend, feature, D-1

#215 [docs] 백엔드 API 연동을 위한 추가 API 명세
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/keyword.adoc
  backend/src/docs/asciidoc/liveinformation.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/planner.adoc
  backend/src/docs/asciidoc/signup.adoc
  backend/src/docs/asciidoc/trip.adoc
  backend/src/docs/asciidoc/tripschedule.adoc
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/java/moheng/liveinformation/application/MemberLiveInformationService.java
  backend/src/main/java/moheng/trip/presentation/TripController.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/fixture/MemberLiveInfoFixture.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/java/moheng/liveinformation/application/MemberLiveInformationServiceTest.java
  backend/src/test/java/moheng/liveinformation/presentation/MemberLiveInfoControllerTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
  backend/src/test/java/moheng/planner/presentation/PlannerControllerTest.java
  backend/src/test/java/moheng/planner/presentation/TripScheduleControllerTest.java
  backend/src/test/java/moheng/recommendtrip/presentation/RecommendTripControllerTest.java
  backend/src/test/java/moheng/trip/presentation/TripControllerTest.java
Labels: documentation, backend, D-1

#207 [feat] ai 빌드 스테이지 추가
  Jenkinsfile
Labels: ai, feature, cloud, D-1

#218 [feat] 여행지세부페이지의 플래너에 담기 버튼을 눌렀을 때 일정리스트 모달 UI 구현
  frontend/src/pages/TravelDetails/TravelDetails.css
  frontend/src/pages/TravelDetails/TravelDetails.jsx
Labels: frontend, feature, D-1
