Repository kakaotech-25/moheng, pull requests merged in 2024-09, with the labels that each got.

#226 [test] 최초 로그인부터 플래너까지 전 기능에 대한 시스템 테스트 진행
  backend/src/docs/asciidoc/signup.adoc
  backend/src/main/java/moheng/applicationrunner/KeywordApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/LiveInformationApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/MemberApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/MemberLiveInformationApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/RecommendTripApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/TripApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/TripKeywordApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/TripLiveInformationApplicationRunner.java
  backend/src/main/java/moheng/auth/presentation/initauthentication/InitAuthenticationArgumentResolver.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/planner/domain/TripSchedule.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/fixture/MemberFixtures.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
Labels: backend, test, D-2

#227 [feat] 로그인 전 랜딩페이지 UI 구현
  frontend/src/App.jsx
  frontend/src/assets/landing-img.png
  frontend/src/pages/Landing/Landing.css
  frontend/src/pages/Landing/Landing.jsx
Labels: frontend, feature, D-1

#240 [feat] nginx certbot 인증서 설정
  Taskfile.yml
  compose.prod.yaml
  nginx/Dockerfile.dev
  nginx/Dockerfile.prod
  nginx/ssl/init_tls.sh
  nginx/tools/production.conf
Labels: feature, cloud, D-1

#239 [feat] 현재 여행지를 플래너의 여러 일정에 담을 수 있도록 변경
  backend/src/main/java/moheng/planner/application/PlannerService.java
  backend/src/main/java/moheng/planner/application/TripScheduleService.java
  backend/src/main/java/moheng/planner/dto/AddTripOnScheduleRequests.java
  backend/src/main/java/moheng/planner/presentation/TripScheduleController.java
  backend/src/test/java/moheng/acceptance/TripScheduleAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/fixture/TripScheduleAcceptenceTestFixture.java
  backend/src/test/java/moheng/planner/application/PlannerServiceTest.java
  backend/src/test/java/moheng/planner/application/TripScheduleServiceTest.java
  backend/src/test/java/moheng/planner/presentation/TripScheduleControllerTest.java
Labels: backend, feature, D-1

#244 [docs] flyway 임시 비활성화
  backend/build.gradle
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__init.sql
Labels: documentation, backend, D-0

#246 [fix] ddl-auto 를 update 로 지정
  backend/src/main/resources/application.yml
Labels: bug, documentation, backend, D-0

#247 [feat] nginx 인증서 디렉토리 영속성 설정
  compose.prod.yaml
Labels: feature, cloud, D-0

#249 [feat] 카카오 소셜 로그인 구현
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/pages/Login/Callback.jsx
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Login/axiosInstance.jsx
Labels: frontend, feature, D-1

#250 [feat] 무장애여행 생활정보 JSON 데이터를 읽어와서 데이터베이스에 저장하는 기능
  backend/src/main/java/moheng/applicationrunner/dev/LiveInformationDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dto/LiveInformationRunner.java
  backend/src/main/java/moheng/applicationrunner/dto/TripRunner.java
  backend/src/main/java/moheng/applicationrunner/test/KeywordTestApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/test/LiveInformationTestApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/test/MemberLiveInformationTestApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/test/MemberTestApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/test/RecommendTripTestApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/test/TripKeywordTestApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/test/TripLiveInformationTestApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/test/TripTestApplicationRunner.java
  backend/src/main/java/moheng/global/query/QueryCounterAop.java
  backend/src/main/java/moheng/liveinformation/domain/LiveInformationRepository.java
  backend/src/main/java/moheng/liveinformation/exception/NoExistLiveInformationException.java
  backend/src/main/java/moheng/trip/domain/Trip.java
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/main/resources/liveinformation.json
  backend/src/main/resources/triptmp.json
Labels: backend, feature, D-1

#255 [feat] 엑세스 토큰 만료시 리프레시 토큰을 통해 갱신하도록 하기
  frontend/src/pages/Login/Callback.jsx
  frontend/src/pages/Login/axiosInstance.jsx
Labels: frontend, feature, D-0

#254 [feat] JSON 파일을 읽어와서 더미 데이터를 저장하는 기능
  backend/src/main/java/moheng/applicationrunner/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dto/TripRunner.java
  backend/src/main/java/moheng/trip/domain/Trip.java
  backend/src/main/resources/trip.json
  backend/src/main/resources/triptmp.json
Labels: backend, feature, D-1

#257 [feat] 소셜 로그인 유저의 프로필 이미지를 받아와서 저장하도록 변경
  backend/src/docs/asciidoc/signup.adoc
  backend/src/main/java/moheng/auth/application/AuthService.java
  backend/src/main/java/moheng/auth/domain/oauth/OAuthMember.java
  backend/src/main/java/moheng/auth/infrastructure/KakaoOAuthMember.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/member/dto/request/SignUpProfileRequest.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/acceptance/fixture/MemberAcceptanceFixture.java
  backend/src/test/java/moheng/config/stub/KakaoStubOAuthClient.java
  backend/src/test/java/moheng/fixture/MemberFixtures.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/domain/MemberRepositoryTest.java
  backend/src/test/java/moheng/member/domain/MemberTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
Labels: backend, feature, D-0

#258 [feat] 소셜로그인으로 프로필이미지를 가져오도록 변경된 사항을 마이페이지와 최초입력1 페이지 UI에 반영
  frontend/src/assets/profileimg.png
  frontend/src/assets/profileimg2.png
  frontend/src/assets/profileimg3.png
  frontend/src/components/CheckImg/CheckImg.css
  frontend/src/components/CheckImg/CheckImg.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/UserForm/UserForm.jsx
  frontend/src/data/UserData.jsx
  frontend/src/pages/Mypage/Mypage.jsx
  frontend/src/pages/Profile/Profile.css
  frontend/src/pages/Profile/Profile.jsx
Labels: frontend, feature, D-0

#252 [fix] nginx 인증서 발급 완료 버전
  nginx/tools/production.conf
Labels: fix, cloud, D-1

#261 [refactor] 카카오 디벨로퍼스 키값 환경변수로 설정하기
  frontend/.gitignore
  frontend/src/pages/PlannerDetails/PlannerDetails.jsx
Labels: refactor, frontend

#262 [Hotfix] 서빙 모듈 핫픽스
  ai/model/Recommendation.py
  ai/model_serving/application/model_service.py
  ai/model_serving/domain/repository/model_repo.py
  ai/model_serving/infra/repository/model_repo.py
  ai/model_serving/interface/controllers/model_controller.py
Labels: fix, ai, D-0

#266 [feat] 최초입력1- 기본정보 페이지 프론트 백 연동 작업
  frontend/src/components/UserForm/UserForm.jsx
  frontend/src/pages/Login/Callback.jsx
  frontend/src/pages/Profile/Profile.jsx
Labels: frontend, feature, D-1

#268 [Hotfix] ai 컨테이너 요청 거부 문제 해결
  ai/Dockerfile
Labels: fix, cloud, D-0

#274 [refactor] 키워드 관련 애플리케이션 로직을 객체지향 코드로 개선, 추천 여행지 개수를 30개로 제한
  backend/build.gradle
  backend/src/main/java/moheng/applicationrunner/dev/KeywordDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dev/LiveInformationDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/prod/KeywordProdApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/prod/LiveInformationProdApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/prod/TripProdApplicationRunner.java
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/java/moheng/keyword/domain/KeywordFilterModelClient.java
  backend/src/main/java/moheng/keyword/domain/random/RandomKeywordGeneratable.java
  backend/src/main/java/moheng/keyword/domain/random/RandomKeywordGenerator.java
  backend/src/main/java/moheng/keyword/domain/random/RandomKeywordStrategyProvider.java
  backend/src/main/java/moheng/keyword/domain/random/strategy/FindKeywordStrategy.java
  backend/src/main/java/moheng/keyword/domain/random/strategy/FindMaxKeywordStrategy.java
  backend/src/main/java/moheng/keyword/domain/random/strategy/FindMinKeywordIdStrategy.java
  backend/src/main/java/moheng/keyword/infrastructure/AiKeywordModelClient.java
  backend/src/main/java/moheng/recommendtrip/domain/PreferredLocationsFinder.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripPreferredLocationsFilterStrategy.java
  backend/src/main/resources/json/keyword.json
  backend/src/main/resources/json/liveinformation.json
  backend/src/main/resources/json/trip1.json
  backend/src/main/resources/json/trip2.json
  backend/src/test/java/moheng/config/TestConfig.java
  backend/src/test/java/moheng/config/stub/StubKeywordFilterModelClient.java
  backend/src/test/java/moheng/keyword/domain/FindKeywordStrategyTest.java
  backend/src/test/java/moheng/keyword/domain/RandomKeywordGeneratorTest.java
  backend/src/test/java/moheng/recommendtrip/domain/PreferredLocationsProviderTest.java
Labels: refactor, backend, D-1

#281 [hotfix] MySQL 데이터베이스를 h2 인메모리로 임시 전환
  backend/src/main/java/moheng/global/mdc/AsyncConfig.java
  backend/src/main/java/moheng/global/mdc/MdcFilter.java
  backend/src/main/java/moheng/global/mdc/MdcTaskDecorator.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/index.html
Labels: bug, backend, D-0

#284 [feat] 최초입력2-생활정보입력 페이지 프론트 백 연동 작업
  compose.frontend.yaml
  frontend/src/pages/LivingInfo/LivingInfo.jsx
  frontend/src/pages/Login/axiosInstance.jsx
  frontend/src/pages/Profile/Profile.jsx
Labels: frontend, feature, D-1

#287 [feat] 최초입력3-관심여행지 입력 페이지 연동 작업
  frontend/src/components/TravelCard/TravelCard.jsx
  frontend/src/components/TravelCarousel/TravelCarousel.jsx
  frontend/src/pages/InterestedPlace/InterestedPlace.jsx
Labels: frontend, feature, D-0

#282 [feat] Slf4j MDC 로 멀티쓰레드 환경에서 요청별 식별 고유 ID 로그 생성
  backend/src/main/java/moheng/global/mdcfilter/AsyncConfig.java
  backend/src/main/java/moheng/global/mdcfilter/MdcFilter.java
  backend/src/main/java/moheng/global/mdcfilter/MdcTaskDecorator.java
  backend/src/main/resources/logback-spring.xml
Labels: backend, feature, D-1

#289 [fix] 누락된 모든 키워드 조회 API 추가
  backend/src/docs/asciidoc/keyword.adoc
  backend/src/main/java/moheng/applicationrunner/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dto/TripRunner.java
  backend/src/main/java/moheng/applicationrunner/prod/TripProdApplicationRunner.java
  backend/src/main/java/moheng/global/aopquery/QueryCounterAop.java
  backend/src/main/java/moheng/keyword/domain/repository/TripKeywordRepository.java
  backend/src/main/java/moheng/liveinformation/domain/repository/MemberLiveInformationRepository.java
  backend/src/main/resources/json/keyword.json
  backend/src/main/resources/json/liveinformation.json
  backend/src/main/resources/json/trip1.json
  backend/src/main/resources/json/trip2.json
Labels: bug, documentation, backend, D-0

#279 [feat] 모델 서빙 코드에 더미 모델 모듈 연결
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/moheng.iml
  .idea/poetry.xml
  .idea/vcs.xml
  ai/README.md
  ai/main.py
  ai/model_serving/application/model_service.py
  ai/model_serving/application/model_service_test.py
  ai/model_serving/domain/repository/model_repo.py
  ai/model_serving/infra/repository/model_repo.py
  ai/model_serving/interface/controllers/model_controller.py
  ai/model_serving/interface/model/location.py
Labels: ai

#291 [fix] 회원가입시 누락되는 프로필 이미지 삽입
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/index.html
Labels: bug, backend, D-0

#295 [refactor] 비회원에게 추천하는 랜덤 키워드 기반 여행지 추천 로직을 객체지향적인 코드로 개선
  backend/.gitignore
  backend/src/main/java/moheng/applicationrunner/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/java/moheng/keyword/domain/model/KeywordFilterModelClient.java
  backend/src/main/java/moheng/keyword/domain/repository/TripKeywordRepository.java
  backend/src/main/java/moheng/keyword/domain/statistics/TripsByStatisticsFinder.java
  backend/src/main/java/moheng/keyword/domain/statistics/TripsByVisitedCountFinder.java
  backend/src/main/java/moheng/keyword/dto/FindTripsWithRandomKeywordResponse.java
  backend/src/main/java/moheng/keyword/infrastructure/AiKeywordModelClient.java
  backend/src/main/java/moheng/keyword/presentation/KeywordController.java
  backend/src/main/java/moheng/recommendtrip/domain/preferredlocation/PreferredLocationsByFilterFinder.java
  backend/src/main/java/moheng/recommendtrip/domain/preferredlocation/PreferredLocationsFinder.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripLiveInformationFilterStrategy.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripPreferredLocationsFilterStrategy.java
  backend/src/main/java/moheng/trip/domain/model/ExternalRecommendModelClient.java
  backend/src/main/java/moheng/trip/domain/model/ExternalSimilarTripModelClient.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiRecommendModelClient.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiSimilarTripModelClient.java
  backend/src/test/java/moheng/acceptance/KeywordAcceptenceTest.java
  backend/src/test/java/moheng/config/TestConfig.java
  backend/src/test/java/moheng/config/stub/StubKeywordFilterModelClient.java
  backend/src/test/java/moheng/config/stub/StubRecommendTripModelClient.java
  backend/src/test/java/moheng/config/stub/StubSimilarTripModelClient.java
  backend/src/test/java/moheng/fixture/KeywordFixture.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
  backend/src/test/java/moheng/keyword/domain/TripKeywordRepositoryTest.java
  backend/src/test/java/moheng/keyword/domain/TripsByVisitedCountFinderTest.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/java/moheng/recommendtrip/domain/PreferredLocationsProviderTest.java
Labels: refactor, backend, D-1

#296 [test] 유저 시나리오를 문서화화고, 여러 API 를 호출하는 E2E 인수 테스트 진행
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/moheng/acceptance/PlannerAcceptenceTest.java
  backend/src/test/java/moheng/auth/domain/JwtTokenManagerTest.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
  backend/src/test/java/moheng/liveinformation/application/MemberLiveInformationServiceTest.java
  backend/src/test/java/moheng/liveinformation/domain/MemberLiveInformationRepositoryTest.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
Labels: backend, test, D-1

#297 [refactor] 키워드, 생활정보, 멤버 도메인에 발생하는 N+1 문제 해결 및 쿼리 성능개선
  backend/src/main/java/moheng/applicationrunner/dev/KeywordDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dev/LiveInformationDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dev/MemberLiveInformationDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/java/moheng/keyword/domain/repository/TripKeywordRepository.java
  backend/src/main/java/moheng/keyword/domain/statistics/TripsByVisitedCountFinder.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
Labels: refactor, backend, D-1

#300 [hotfix] task dev를 실행했을때 snapshot.jar를 찾지 못하는 문제 해결
  backend/.dockerignore
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  compose.dev.yaml
Labels: cloud, D-1

#302 [refactor] 플래너, 추천 여행, 여행 도메인에 발생하는 N+1 문제 해결
  backend/src/main/java/moheng/keyword/domain/repository/TripKeywordRepository.java
  backend/src/main/java/moheng/member/presentation/MemberController.java
  backend/src/main/java/moheng/trip/domain/repository/TripRepository.java
  backend/src/main/resources/application.yml
Labels: refactor, backend, D-1

#305 [refactor] 완전한 무중단 배포 환경을 위한 SpringBoot Graceful Shutdown 을 적용
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/fixture/LiveInformationFixture.java
Labels: refactor, backend, D-1

#303 [feat] 마이페이지 연동작업
  compose.dev.yaml
  compose.frontend.yaml
  frontend/src/components/LivingBtn/LivingBtn.jsx
  frontend/src/components/UserForm/UserForm.jsx
  frontend/src/pages/LivingInfo/LivingInfo.jsx
  frontend/src/pages/Mypage/Mypage.jsx
  frontend/src/pages/Profile/Profile.jsx
  frontend/vite.config.js
Labels: frontend, feature, D-1

#306 chore: CORS 도메인 주소 개방
  backend/src/main/java/moheng/global/config/CorsConfig.java
Labels: bug, backend, D-0

#310 [feat] 백엔드 앱의 CORS 설정
  ai/main.py
Labels: ai, D-0

#312 [Bug] 플래너 일정 수정시 endDate 날짜가 startDate 로 수정되는 현상
  backend/src/main/java/moheng/applicationrunner/dev/MemberLiveInformationDevApplicationRunner.java
  backend/src/main/java/moheng/planner/application/PlannerService.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripPreferredLocationsFilterStrategy.java
  backend/src/main/java/moheng/recommendtrip/dto/PreferredLocationRequest.java
  backend/src/main/java/moheng/trip/dto/RecommendTripsByVisitedLogsRequest.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiRecommendModelClient.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/index.html
Labels: bug, backend, D-0

#314 [fix] h2 경로 임의 변경
  backend/src/main/resources/application.yml
Labels: bug, backend, D-0

#315 [feat] 플래너페이지 연동작업
  frontend/src/components/PlannerModal/PlannerModal.jsx
  frontend/src/pages/Login/axiosInstance.jsx
  frontend/src/pages/Planner/Planner.jsx
Labels: frontend, feature, D-1

#316 [feat] 랜딩페이지 연동작업
  frontend/src/components/TravelCard/TravelCard.css
  frontend/src/components/TravelCard/TravelCard.jsx
  frontend/src/components/TravelCarousel/TravelCarousel.jsx
  frontend/src/data/TravelData.jsx
  frontend/src/pages/Landing/Landing.jsx
  frontend/src/pages/TravelDetails/TravelDetails.jsx
Labels: frontend, feature, D-1

#321 [test] 회원 상태 체크 및 헤더 상태 제공 API 테스트 코드 보강
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/dto/response/FindMemberAuthorityAndProfileResponse.java
  backend/src/main/java/moheng/member/presentation/MemberController.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiRecommendModelClient.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiSimilarTripModelClient.java
  backend/src/main/resources/application.yml
  backend/src/test/java/moheng/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/moheng/acceptance/fixture/MemberAcceptanceFixture.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
Labels: backend, feature, D-1

#324 [feat] 일부 데이터만 추천 알고리즘에 사용하는 코드 제거
  ai/model/Recommendation.py
Labels: ai, D-0

#326 [hotfix] gradlew clean build 명령어로 변경
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  compose.dev.yaml
Labels: backend, cloud, D-0

#328 [docs] 쿠키 전송을 위한 추가 CORS 설정
  backend/src/main/java/moheng/global/config/CorsConfig.java
Labels: documentation, backend, D-0

#330 [docs] README 수정
  README.md
Labels: documentation

#331 [feat] FastAPI 서버와의 API 연동
  backend/src/main/java/moheng/global/mdcfilter/AsyncConfig.java
  backend/src/main/java/moheng/liveinformation/domain/repository/LiveInformationRepository.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripLiveInformationFilterStrategy.java
  backend/src/main/java/moheng/trip/dto/FindTripResponse.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/java/moheng/recommendtrip/presentation/RecommendTripControllerTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
  backend/src/test/java/moheng/trip/presentation/TripControllerTest.java
Labels: backend, feature, D-1

#333 [feat] 로그인여부에 따른 헤더 구조 변경
  frontend/src/components/Header/Header.jsx
  frontend/src/pages/Login/axiosInstance.jsx
Labels: frontend, feature, D-0

#337 [Bug] MemberTrip 저장되지 않는 현상
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/recommendtrip/domain/repository/RecommendTripRepository.java
  backend/src/main/java/moheng/trip/domain/repository/MemberTripRepository.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/auth/presentation/AuthControllerTest.java
Labels: bug, backend, D-0

#335 [refactor] 젠킨스 빌드 / 푸시 과정 분리
  Jenkinsfile
Labels: cloud, D-1

#340 [fix] 키워드 필터링 맞춤 추천 여행지 조회시 빈 배열일 때 여행지가 조회되지 않는 현상 해결
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/resources/json/trip2.json
Labels: bug, backend, D-0

#343 [feat] 메인페이지 키워드 여행지 연동
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Login/Login.css
Labels: frontend, feature, D-1

#342 [feat] planner 페이지 지도 마커, 일정 불러오기 api연동
  frontend/pnpm-lock.yaml
  frontend/src/App.jsx
  frontend/src/data/PlannerData.jsx
  frontend/src/pages/Login/axiosInstance.jsx
  frontend/src/pages/PlannerDetails/PlannerDetails.jsx
  frontend/vite.config.js
Labels: frontend, feature, D-1

#345 [feat] 메인페이지 연동
  .gitignore
  .idea/moheng.iml
  .idea/vcs.xml
  backend/src/main/resources/static/docs/index.html
  compose.dev.yaml
  frontend/src/components/TravelCarousel/TravelCarousel.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Login/axiosInstance.jsx
  frontend/src/pages/TravelDetails/TravelDetails.jsx
Labels: frontend, D-0

#348 [hotfix] baseURL 수정
  frontend/src/pages/Login/axiosInstance.jsx
Labels: bug, frontend, D-0

#350 [docs] redirect uri 임시 변경
  backend/src/main/resources/application.yml
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
Labels: documentation, backend, D-0

#351 [docs] CORS 추가 설정
  backend/src/main/java/moheng/global/config/CorsConfig.java
Labels: documentation, backend, D-0

#353 [debug] .idea 폴더 제거
  .gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/moheng.iml
  .idea/poetry.xml
  .idea/vcs.xml
Labels: bug, D-0

#355 [hotfix] 백엔드 -> ai 컨테이너 요청 도메인이름 수정
  backend/Dockerfile.dev
  backend/run_server.sh
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiRecommendModelClient.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiSimilarTripModelClient.java
  compose.dev.yaml
Labels: backend, cloud, D-0

#356 [feat] 스프링부트 애플리케이션 dev, prod 서버 배포를 위한 프로파일 및 yml 환경 구축
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/static/docs/index.html
Labels: documentation, backend, feature, D-1

#360 [feat] nginx 비디오 서빙 엔드포인트 구축
  compose.dev.yaml
  compose.prod.yaml
  nginx/tools/develop.conf
  nginx/tools/production.conf
Labels: frontend, feature, cloud

#362 [feat] 랜딩페이지 데모영상 삽입
  frontend/src/pages/Landing/Landing.jsx
  frontend/src/pages/Login/axiosInstance.jsx
  nginx/tools/develop.conf
  nginx/tools/production.conf
Labels: frontend, feature, D-0

#366 [test] 깃허브 설정변경에 따른 브랜치 보호 테스트
  test.md
Labels: cloud, test

#370 [refactor] 테스트 환경내의 메소드 호출 및 객체 생성 코드를 픽스처로 전환
  backend/src/main/java/moheng/auth/domain/token/TokenProvider.java
  backend/src/main/java/moheng/keyword/application/KeywordService.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/trip/domain/Trip.java
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/moheng/fixture/KeywordFixture.java
  backend/src/test/java/moheng/fixture/LiveInformationFixture.java
  backend/src/test/java/moheng/fixture/MemberFixtures.java
  backend/src/test/java/moheng/fixture/MemberLiveInformationFixture.java
  backend/src/test/java/moheng/fixture/MemberTripFixture.java
  backend/src/test/java/moheng/fixture/PlannerFixture.java
  backend/src/test/java/moheng/fixture/RecommendTripFixture.java
  backend/src/test/java/moheng/fixture/TripFixture.java
  backend/src/test/java/moheng/fixture/TripKeywordFixture.java
  backend/src/test/java/moheng/fixture/TripScheduleFixtures.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
  backend/src/test/java/moheng/keyword/domain/FindKeywordStrategyTest.java
  backend/src/test/java/moheng/keyword/domain/KeywordRepositoryTest.java
  backend/src/test/java/moheng/keyword/domain/MemberKeywordTest.java
  backend/src/test/java/moheng/keyword/domain/RandomKeywordGeneratorTest.java
  backend/src/test/java/moheng/keyword/domain/TripKeywordRepositoryTest.java
  backend/src/test/java/moheng/keyword/domain/TripsByVisitedCountFinderTest.java
  backend/src/test/java/moheng/keyword/presentation/KeywordControllerTest.java
  backend/src/test/java/moheng/liveinformation/application/LiveInformationsServiceTest.java
  backend/src/test/java/moheng/liveinformation/application/MemberLiveInformationServiceTest.java
  backend/src/test/java/moheng/liveinformation/domain/LiveInformationTest.java
  backend/src/test/java/moheng/liveinformation/domain/MemberLiveInformationRepositoryTest.java
  backend/src/test/java/moheng/liveinformation/domain/TripKeywordTest.java
  backend/src/test/java/moheng/liveinformation/presentation/LiveInformationControllerTest.java
  backend/src/test/java/moheng/liveinformation/presentation/MemberLiveInfoControllerTest.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/domain/MemberRepositoryTest.java
  backend/src/test/java/moheng/member/domain/MemberTest.java
  backend/src/test/java/moheng/planner/application/PlannerServiceTest.java
  backend/src/test/java/moheng/planner/application/TripScheduleServiceTest.java
  backend/src/test/java/moheng/planner/domain/TripScheduleRegistryRepositoryTest.java
  backend/src/test/java/moheng/planner/domain/TripScheduleRepositoryTest.java
  backend/src/test/java/moheng/planner/presentation/PlannerControllerTest.java
  backend/src/test/java/moheng/planner/presentation/TripScheduleControllerTest.java
  backend/src/test/java/moheng/recommendtrip/application/RecommendTripServiceTest.java
  backend/src/test/java/moheng/recommendtrip/domain/PreferredLocationsProviderTest.java
  backend/src/test/java/moheng/recommendtrip/domain/RecommendTripRepositoryTest.java
  backend/src/test/java/moheng/recommendtrip/domain/TripLiveInformationStrategyTest.java
  backend/src/test/java/moheng/recommendtrip/domain/TripPreferredLocationsFilterStrategyTest.java
  backend/src/test/java/moheng/recommendtrip/presentation/RecommendTripControllerTest.java
  backend/src/test/java/moheng/trip/application/AppendRecommendTripStrategyTest.java
  backend/src/test/java/moheng/trip/application/ReplaceRecommendTripStrategyTest.java
  backend/src/test/java/moheng/trip/application/TripKeywordRepositoryTest.java
Labels: refactor, backend

#372 [fix] 세부 일정내 여행지 삭제 API 스닛팻 경로 수정
  backend/src/docs/asciidoc/tripschedule.adoc
Labels: bug, backend, fix

#374 [feat] 플래너에 담기 모달을 통해 일정생성 및 여행지 담는 기능
  frontend/src/pages/PlannerDetails/PlannerDetails.jsx
  frontend/src/pages/TravelDetails/TravelDetails.jsx
Labels: frontend, feature

#375 [refactor] 도커파일 리팩토링
  Taskfile.yml
  ai/Dockerfile
  ai/model_serving/application/model_service_test.py
  ai/model_serving/interface/controllers/model_controller_test.py
  ai/poetry.lock
  ai/pyproject.toml
  backend/Dockerfile.local
  backend/Dockerfile.prod
  backend/build.gradle
  backend/run_server.sh
  compose.frontend.yaml
  compose.local.yaml
  frontend/Dockerfile.front
  nginx/Dockerfile.dev
  nginx/Dockerfile.local
  nginx/Dockerfile.prod
  nginx/nginx.conf
Labels: refactor, cloud

#377 [fix] asciidoctor 테스크의 의존성을 build 테스크에 의존하도록 설정
  backend/build.gradle
  backend/src/main/resources/static/docs/index.html
Labels: bug, backend, fix

#379 #364 fix: 도커네트워크의 이름을 명시적으로 지정해주었습니다.
  compose.local.yaml
  compose.prod.yaml
  nginx/Dockerfile.local
  nginx/tools/develop.conf
Labels: cloud

#381 [hotfix] nginx 컨테이너 권한 루트로 수정
  nginx/Dockerfile.local
  nginx/Dockerfile.prod
Labels: cloud

#384 [feat] 빌드 성공 기준을 커버리지 85% 이상으로 설정 및 누락된 API 명세 추가
  backend/build.gradle
  backend/src/docs/asciidoc/member.adoc
  backend/src/docs/asciidoc/signup.adoc
  backend/src/main/resources/application-prod.yml
Labels: backend, feature

#386 [feat] 깃헙 액션 파이프라인 구성
  .github/scripts/build/send_discord_pipeline.sh
  .github/workflows/docker-build.yml
Labels: feature, cloud

#387 [feat] 깃헙액션 컨테이너 레지스트리 변경
  .github/scripts/build/send_discord_pipeline.sh
  .github/workflows/docker-build.yml
Labels: fix, cloud

#388 [fix] 도커 레지스트리에 푸시 안되는 문제 해결
  .github/workflows/docker-build.yml
Labels: fix, cloud

#389 [test] amd64 만 빌드하도록 수정
  .github/workflows/docker-build.yml
Labels: fix, cloud

#391 [refactor] 외부 AI 연동 API 호출 로직에서 발생하는 N+1 문제 해결
  backend/src/main/java/moheng/trip/domain/repository/MemberTripRepository.java
  backend/src/main/resources/application-local.yml
Labels: refactor, backend

#392 [test] 최초 회원가입 유저가 관심 여행지 입력 후 AI 맞춤 추천 여행지까지의 API 요청에 대한 테스트 코드 추가
  backend/src/test/java/moheng/acceptance/RecommendTripAcceptenceTest.java
  backend/src/test/java/moheng/acceptance/fixture/RecommendTripAcceptenceFixture.java
  backend/src/test/java/moheng/recommendtrip/application/RecommendTripServiceTest.java
Labels: backend, test

#401 fix: 세부 일정에서 여행지가 정상적으로 제거되지 않는 문제 해결
  backend/src/main/java/moheng/planner/application/TripScheduleService.java
Labels: bug, backend, fix

#403 [test] 세부 일정에서 여행지를 제거하는 테스트 코드 추가
  backend/src/test/java/moheng/planner/application/TripScheduleServiceTest.java
Labels: backend, test

#405 [feat] HikariCP 데이터베이스 Conntecion Pool 사이즈를 결정 및 적용
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
Labels: backend, feature

#407 [refactor] JVM Warm Up 으로 스프링 애플리케이션 배포 직후 발생하는 Latency 최소화
  backend/build.gradle
  backend/src/main/java/moheng/applicationrunner/data/dev/KeywordDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/dev/LiveInformationDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/dev/TripDevApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/dto/KeywordRunner.java
  backend/src/main/java/moheng/applicationrunner/data/dto/LiveInformationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/dto/TripRunner.java
  backend/src/main/java/moheng/applicationrunner/data/local/KeywordLocalApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/local/LiveInformationLocalApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/local/TripLocalApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/prod/KeywordProdApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/prod/LiveInformationProdApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/data/prod/TripProdApplicationRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/AuthWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/KeywordWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/MemberWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/PlannerWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/RecommendWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/TripWarmUpRunner.java
Labels: refactor, backend

#408 feat: Warm Up Runner 로깅 추가
  backend/src/main/java/moheng/applicationrunner/warmup/AuthWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/KeywordWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/MemberWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/PlannerWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/RecommendWarmUpRunner.java
  backend/src/main/java/moheng/applicationrunner/warmup/TripWarmUpRunner.java
Labels: backend, feature

#409 [feat] 플래너세부페이지 내부 기능 구현
  frontend/src/pages/PlannerDetails/PlannerDetails.jsx
Labels: frontend, feature, D-1

#410 [feat] 상세 여행지 조회에서 발생하는 동시성 이슈를 비관적 락으로 해결
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripLiveInformationFilterStrategy.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/java/moheng/trip/domain/repository/TripRepository.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
Labels: backend, feature

#411 [feat] 여행지 조회시 접속자 수가 많아 발생하는 동시성 이슈에 대한 상세 예외처리
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/java/moheng/trip/exception/NotAbleToAccessTripByPessimisticLock.java
Labels: backend, feature

#413 [feat] 빌드 성공 기준을 테스트 커버리지 85% 이상일때로 설정
  backend/build.gradle
  backend/src/main/java/moheng/auth/domain/oauth/OAuthClientProvider.java
  backend/src/main/java/moheng/auth/infrastructure/KakaoOAuthClient.java
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/liveinformation/domain/MemberLiveInformation.java
  backend/src/main/java/moheng/recommendtrip/presentation/RecommendTripController.java
  backend/src/main/java/moheng/trip/application/TripService.java
  backend/src/main/java/moheng/trip/domain/Trip.java
  backend/src/main/java/moheng/trip/exception/NotAbleToAccessTripByPessimisticLock.java
  backend/src/main/java/moheng/trip/exception/NotAbleToAccessTripByPessimisticLockException.java
  backend/src/test/java/moheng/auth/domain/OAuthClientProviderTest.java
  backend/src/test/java/moheng/keyword/application/KeywordServiceTest.java
  backend/src/test/java/moheng/trip/application/TripServiceTest.java
Labels: backend, feature

#426 [feat] 로컬 캐시를 사용한 외부 API 요청 최적화
  backend/src/main/java/moheng/global/cache/CacheConfig.java
  backend/src/main/java/moheng/global/cache/ExternalSimilarTripCache.java
  backend/src/main/java/moheng/recommendtrip/domain/tripfilterstrategy/TripLiveInformationFilterStrategy.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiRecommendModelClient.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiSimilarTripModelClient.java
Labels: backend, feature

#428 [feat] AI 외부 API 호출시 발생하는 예외 처리
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiRecommendModelClient.java
  backend/src/main/java/moheng/trip/infrastructure/ExternalAiSimilarTripModelClient.java
Labels: backend, feature
