Repository kakaotech-25/moheng, pull requests merged in 2024-07, with the labels that each got.

#6 Feature/#2 optimize docker copy layer
  frontend/.dockerignore
  frontend/Dockerfile
Labels: feature, cloud

#11 [feat] 백엔드 개발환경 구축을 위한 추가 환경 설정
  backend/src/main/java/moheng/MohengApplication.java
  backend/src/main/java/moheng/global/config/JpaAuditConfig.java
  backend/src/main/java/moheng/global/config/WebConfig.java
  backend/src/main/java/moheng/global/entity/BaseEntity.java
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/global/error/dto/ErrorRequest.java
  backend/src/main/java/moheng/global/error/dto/ErrorResponse.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/member/domain/SocialType.java
  backend/src/main/java/moheng/member/domain/repository/MemberRepository.java
  backend/src/main/java/moheng/member/dto/request/MemberRequest.java
  backend/src/main/java/moheng/member/dto/response/MemberResponse.java
  backend/src/main/java/moheng/member/exception/InvalidEmailFormatException.java
  backend/src/main/java/moheng/member/exception/InvalidNicknameFormatException.java
  backend/src/main/java/moheng/member/exception/NoExistSocialTypeException.java
  backend/src/main/java/moheng/member/presentation/MemberController.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/moheng/MohengApplicationTests.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/domain/MemberTest.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
  backend/src/test/resources/application.yml
Labels: backend, feature

#19 #18 feat: gpt action 리뷰봇 설정하는 yml
  .github/workflows/code-review.yml
Labels: ai, feature, cloud

#17 [feat]Backend Dockerfile 설정
  backend/Dockerfile
Labels: feature, cloud

#24 [Feature] composefile 작성
  backend/.dockerignore
  backend/Dockerfile
  compose.yaml
Labels: feature, cloud

#25 [feat] 소셜 로그인을 위한 Token 및 Authorization Code 발급 기능 구현
  backend/build.gradle
  backend/src/main/java/moheng/auth/application/AuthService.java
  backend/src/main/java/moheng/auth/domain/JwtTokenProvider.java
  backend/src/main/java/moheng/auth/domain/KakaoOAuthClient.java
  backend/src/main/java/moheng/auth/domain/KakaoUriProvider.java
  backend/src/main/java/moheng/auth/domain/OAuthAccessToken.java
  backend/src/main/java/moheng/auth/domain/OAuthClient.java
  backend/src/main/java/moheng/auth/domain/OAuthMember.java
  backend/src/main/java/moheng/auth/domain/OAuthUriProvider.java
  backend/src/main/java/moheng/auth/dto/AuthRequest.java
  backend/src/main/java/moheng/auth/dto/AuthResponse.java
  backend/src/main/java/moheng/auth/dto/OAuthUriResponse.java
  backend/src/main/java/moheng/auth/dto/TokenRequest.java
  backend/src/main/java/moheng/auth/dto/TokenResponse.java
  backend/src/main/java/moheng/auth/exception/AuthException.java
  backend/src/main/java/moheng/auth/exception/InvalidTokenException.java
  backend/src/main/java/moheng/auth/presentation/AuthController.java
  backend/src/main/java/moheng/global/config/RestTemplateConfig.java
  backend/src/main/java/moheng/global/config/WebConfig.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/member/domain/repository/MemberRepository.java
  backend/src/main/java/moheng/member/exception/NoExistMemberException.java
  backend/src/main/resources/application.yml
  backend/src/test/java/moheng/auth/application/AuthServiceTest.java
  backend/src/test/java/moheng/auth/presentation/AuthControllerTest.java
  backend/src/test/java/moheng/config/StubOAuthClient.java
  backend/src/test/java/moheng/config/TestConfig.java
  backend/src/test/resources/application.yml
Labels: backend, feature

#32 [test] 회원 및 소셜 로그인 관련 코드에 대한 테스트 코드 추가
  backend/src/main/java/moheng/auth/domain/JwtTokenProvider.java
  backend/src/main/java/moheng/auth/domain/OAuthMember.java
  backend/src/main/java/moheng/auth/dto/AuthRequest.java
  backend/src/main/java/moheng/auth/dto/AuthResponse.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/test/java/moheng/auth/application/AuthServiceTest.java
  backend/src/test/java/moheng/auth/domain/JwtTokenProviderTest.java
  backend/src/test/java/moheng/config/StubOAuthClient.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/domain/MemberRepositoryTest.java
Labels: backend, test

#33 [test] 누락된 Member 엔티티 필드 추가 및 단위 테스트 진행
  backend/src/main/java/moheng/auth/application/AuthService.java
  backend/src/main/java/moheng/auth/domain/OAuthMember.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/domain/GenderType.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/member/domain/repository/MemberRepository.java
  backend/src/main/java/moheng/member/exception/InvalidBirthdayException.java
  backend/src/main/java/moheng/member/exception/InvalidGenderFormatException.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/domain/MemberRepositoryTest.java
  backend/src/test/java/moheng/member/domain/MemberTest.java
Labels: backend, test

#38 [feat] 인증(Authentication)을 위한 ArgumentResolver 기반 커스텀 어노테이션 개발
  backend/src/main/java/moheng/auth/domain/Authority.java
  backend/src/main/java/moheng/auth/dto/LoginMember.java
  backend/src/main/java/moheng/auth/exception/EmptyBearerHeaderException.java
  backend/src/main/java/moheng/auth/exception/InvalidTokenFormatException.java
  backend/src/main/java/moheng/auth/presentation/admin/AdminAuthentication.java
  backend/src/main/java/moheng/auth/presentation/admin/AdminAuthenticationArgumentResolver.java
  backend/src/main/java/moheng/auth/presentation/admin/AdminAuthenticationWebConfig.java
  backend/src/main/java/moheng/auth/presentation/authentication/Authentication.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationArgumentResolver.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationBearerExtractor.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationWebConfig.java
  backend/src/main/java/moheng/member/application/MemberService.java
  backend/src/main/java/moheng/member/domain/Member.java
  backend/src/main/java/moheng/member/dto/response/MemberResponse.java
  backend/src/main/java/moheng/member/presentation/MemberController.java
Labels: backend, feature

#41 [feat] 젠킨스파일 초기 예시 세팅
  Jenkinsfile
Labels: feature, cloud

#45 [feat] RefreshToken 으로 새로운 AccessToken 을 재발급하는 기능, 로그아웃 기능 구현
  backend/src/main/java/moheng/auth/application/AuthService.java
  backend/src/main/java/moheng/auth/domain/InMemoryRefreshTokenRepository.java
  backend/src/main/java/moheng/auth/domain/JwtTokenProvider.java
  backend/src/main/java/moheng/auth/domain/RefreshTokenRepository.java
  backend/src/main/java/moheng/auth/dto/Accessor.java
  backend/src/main/java/moheng/auth/dto/LogoutRequest.java
  backend/src/main/java/moheng/auth/dto/RenewalAccessTokenRequest.java
  backend/src/main/java/moheng/auth/dto/RenewalAccessTokenResponse.java
  backend/src/main/java/moheng/auth/exception/BadRequestException.java
  backend/src/main/java/moheng/auth/exception/NoExistMemberTokenException.java
  backend/src/main/java/moheng/auth/presentation/AuthController.java
  backend/src/main/java/moheng/auth/presentation/admin/AdminAuthenticationArgumentResolver.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationArgumentResolver.java
  backend/src/main/java/moheng/member/presentation/MemberController.java
  backend/src/test/java/moheng/auth/application/AuthServiceTest.java
  backend/src/test/java/moheng/auth/domain/JwtTokenProviderTest.java
  backend/src/test/java/moheng/config/DatabaseCleaner.java
  backend/src/test/java/moheng/config/RepositoryTestConfig.java
  backend/src/test/java/moheng/config/ServiceTestConfig.java
  backend/src/test/java/moheng/member/application/MemberServiceTest.java
  backend/src/test/java/moheng/member/domain/MemberRepositoryTest.java
Labels: backend, feature

#50 [refactor] 백엔드 도커파일 이미지 크기 최적화
  backend/Dockerfile
  compose.frontend.yaml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/install_package.sh
Labels: refactor, backend, cloud

#54 [feat] RefreshToken 전송시 Header 내의 Cookie 에 감싸도록 구현
  backend/src/main/java/moheng/auth/dto/AccessTokenResponse.java
  backend/src/main/java/moheng/auth/presentation/AuthController.java
Labels: backend, feature

#57 [test] 인증/인가 도메인 프레젠테이션 계층 단위 테스트 진행
  backend/src/main/java/moheng/auth/dto/AccessTokenResponse.java
  backend/src/main/java/moheng/auth/presentation/AuthController.java
  backend/src/main/java/moheng/auth/presentation/authentication/Authentication.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationArgumentResolver.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationBearerExtractor.java
  backend/src/main/java/moheng/auth/presentation/authentication/AuthenticationWebConfig.java
  backend/src/main/java/moheng/member/presentation/MemberController.java
  backend/src/test/java/moheng/auth/domain/JwtTokenManagerTest.java
  backend/src/test/java/moheng/auth/presentation/AuthControllerTest.java
  backend/src/test/java/moheng/config/ControllerTestConfig.java
  backend/src/test/java/moheng/fixture/AuthFixtures.java
  backend/src/test/java/moheng/fixture/MemberFixtures.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
Labels: backend, test
