Repository kakaotech-25/moheng, pull requests merged in 2024-11, with the labels that each got.

#468 [fix] 데이터베이스 더미데이터 수정
  backend/src/main/java/moheng/auth/infrastructure/KakaoOAuthMember.java
  backend/src/main/resources/json/trip1.json
  log/error/2024-10-24.log
  log/warn/2024-10-23.log
  log/warn/2024-10-24.log
Labels: bug, backend

#471 [feat] Image 변경 및 백엔드 포트 포워딩
  compose.prod.yaml
Labels: feature, cloud

#479 [refactor] ErrorResponse 에 대한 응답 DTO 개선
  backend/src/main/java/moheng/global/error/ControllerAdvice.java
  backend/src/main/java/moheng/global/error/dto/ExceptionResponse.java
  backend/src/test/java/moheng/member/presentation/MemberControllerTest.java
  log/error/2024-11-14.log
  log/warn/2024-11-14.log
Labels: refactor, backend

#489 Feature/#488 terraform
  terraform/.gitignore
  terraform/Architecture.md
  terraform/ec2.tf
  terraform/main.tf
  terraform/output.tf
  terraform/rds.tf
  terraform/variable.tf
  terraform/vpc.tf
Labels: feature, cloud
